aesara==2.9.3
aioquic==0.9.21
astunparse==1.6.3
attr==0.3.2
attrs==23.1.0
av==10.0.0
beartype==0.16.4
brotli==1.1.0
brotlicffi==1.1.0.0
cartopy==0.22.0
conda==4.3.16
ConfigParser==6.0.0
coremltools
cupy==12.1.0
cupy_cuda11x==12.2.0
curio==1.6
Cython==3.0.5
einops
defusedxml==0.7.1
dill==0.3.7
disco
dl==0.1.0
docutils==0.20.1
dotmap
expecttest==0.1.6
genapi==0.0.8
gmpy2==2.1.5
html5lib
HTMLParser==0.0.2
httpx==0.25.1
hypothesis==6.88.1
importlib_metadata
intel_extension_for_pytorch==2.1.0
ipython==8.14.0
ipywidgets==8.1.1
jax==0.4.20
#jnius==1.1.0
keyring==24.2.0
lmdb==1.4.1
lockfile==0.12.2
lxml==4.9.3
matchpy
matplotlib==3.8.1
mayavi==4.8.1
mock==5.1.0
monkeytype==23.3.0
moviepy==1.0.3
mtrand==0.1
multiset==3.0.1
mxnet==1.9.1
mypy==1.6.1
nose==1.3.7
#Numeric==24.2
olefile==0.46
onnxruntime==1.16.1
opencv-python
ordereddict==1.1
pandas==2.1.2
pickle5
protobuf==4.25.0
psutil==5.9.6
pycocotools==2.0.7
pycosat==0.6.6
pydot==1.4.2
pydy==0.7.1
pyglet==2.0.9
pygraphviz==1.11
PyInstaller==6.1.0
pymc==5.9.1
pymc3==3.11.5
pynvml==11.5.0
pyOpenSSL==23.3.0
PyQt5==5.15.10
PyQt6==6.6.0
pysat==3.1.0
PySide2==5.15.2.1
PySide6==6.6.0
pytest==7.4.3
pytorch_lightning==2.1.0
pytz==2022.1
railroad==0.5.0
requests_toolbelt==1.0.0
sage==0.0.0
scipy
seaborn==0.13.0
setuptools_scm==8.0.4
simplejson==3.19.2
slack_sdk==3.23.0
sniffio==1.3.0
Sphinx==7.2.6
symengine==0.10.0
theano==1.0.5
threadpoolctl==3.2.0
toml==0.10.2
torch_xla==2.1.0
torcharrow==0.1.0
torchaudio==2.1.0
torchvision
tornado==6.3.3
transformers==4.35.0
trio==0.23.0
urllib3_secure_extra==0.1.0
visdom==0.2.4
wmi==1.5.1
#xmlrpclib
#xmlrunner
z3==0.2.0
zipp==3.17.0
zstandard==0.22.0
